@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {

    font-family: 'Inconsolata', monospace;
    background-color: snow;
    font-size: 15px;
}

.heading {
    text-align: center;
    padding-top: 20px;
}
.about {
    text-align: center;
}
.cats-container {
    display: flex;
    padding-bottom: 30px;
}
.img{
    float: left;
    width: 200px;
    height: 200px;
    padding-right: 20px;
}
.cats {
    width: 700px;
    padding-right: 30px;
}
.events {
    clear: both;
    display: flex;
    padding-bottom: 20px;
}
#heading2 {
    text-align: center;
}
.more-cats {
    float: right;
    padding-left: 10px;
}
.inner-div {
    width: 700px;
    padding-right: 50px;
}
.about-us {
    clear: both;
    padding-bottom: 20px;
}
.text {
    text-align: center;
}

@media only screen and (max-width: 700px) {

    body {
        width: 100%;
    }

    .cats-container {
        flex-direction: column;
    }
   .events {
       flex-direction: column;
   }
    
}