@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: snow;
    font-size: 15px;
    margin: 0 20px 0 20px;
    width: 100%;
}
.main-div {
    clear: both;
}

.heading {
    text-align: center;
    padding: 10px 0 10px 0;
}
.about {
    text-align: center;
}
.cats-container {
    display: flex;
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 10px;
}
.imgs{
    float: left;
    width: 200px;
    height: 200px;
    padding: 0 20px 0 0;
}
.cats {
    width: 700px;
    padding: 0 30px 10px 0;
}
.events {
    clear: both;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
#heading2 {
    padding-top: 10px;
    text-align: center;
}
.more-cats {
    float: right;
    padding-left: 10px;
}
.inner-div {
    width: 700px;
    padding: 0 50px 10px 0;
}
.about-us {
    clear: both;
    padding-bottom: 10px;
}
.text {
    text-align: center;
}

@media only screen and (max-width: 700px) {

    header p{
        text-align: center;
    }
    body {
        font-size: 30px;
        width: 700px;
    }
    .cats-container {
        flex-direction: column;
        padding-top: 10px;
    }
    .events { 
        flex-direction: column;
    }
}